blue-composition {
	& > [slot='content'] {
		& > * {
			&:not(:first-child) {
				margin-top: 1rem;
			}
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
	&.composition--padded {
		@include verticalSpacing;
	}
	&.composition--padded-sm {
		@include verticalSpacingSm;
	}
	&.composition--flush-top {
		padding-top: 0;
	}
	&.composition--flush-bottom {
		padding-bottom: 0;
	}
	&.composition--collapse {
		& + & {
			padding-top: 0;
		}
	}
	@each $name, $color in $fills {
		&.composition--fill-#{'' + $name} {
			@include background-fill($color);
		}
	}
	&[style*=background-image] {
		@include background-image;
	}
}
