// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// Default button configs 
// ** .btn
// ** .btn.btn--ghost
// ** .btn.btn--secondary
// ** .btn.btn--secondary.btn--ghost
// -----------------------------------------------------------------------------

.btn {
  @include clean(button);
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: auto;
	padding: 0.75rem 1.5rem;
	text-align: center;
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
	border-radius: 0px;
	transition: 0.25s ease;
	text-transform: uppercase;
	&.disabled,
	&[disabled] {
		pointer-events: none;
		opacity: 0.65;
	}
	background: $buttonPrimaryBackground;
	color: $buttonPrimaryColor;
	&:hover {
    background: $buttonPrimaryBackgroundHover;
    color: $buttonPrimaryColorHover;
  }

  &.btn--ghost {
    background: transparent;
    border-color: $buttonPrimaryBackground;
    color: $buttonPrimaryBackground;
    &:hover {
      background: $buttonPrimaryBackgroundHover;
      border-color: $buttonPrimaryBackgroundHover;
      color: $buttonPrimaryColorHover;
    }
  }

	&--secondary {
    background: $buttonSecondaryBackground;
    color: $buttonSecondaryColor;
    &:hover {
      background: $buttonSecondaryBackgroundHover;
      color: $buttonSecondaryColorHover;
    }
    &.btn--ghost {
      background: transparent;
      border-color: $buttonSecondaryBackground;
      color: $buttonSecondaryBackground;
      &:hover {
        border-color: $buttonSecondaryBackgroundHover;
        background: $buttonSecondaryBackgroundHover;
        color: $buttonSecondaryColorHover;
      }
    }
  }
}
