// -----------------------------------------------------------------------------
// This file contains styles that are specific to the styleguide.
// -----------------------------------------------------------------------------

@import '_core/core';
@import 'vendor/prism';
$blue: #1e90ff;
$purple: #800080;
$light: #f2f2f2;
$dark: #333;
$white: #fff;
$black: #000;

#font-weight:checked ~ .styleguide__icons .styleguide__icon i::before {
	font-weight: 700;
}


.styleguide {
	display: flex;
	flex-direction: column;
	code {
    font-family: 'Fira Code', monospace;
	}
  .code-toolbar .toolbar .toolbar-item button {
    background: $blue;
    color: $white;
    cursor: pointer;
    &:hover {
      background: $purple
    }
  }
  .section__inner {
    position: relative;
  }
	&__nav {
		display: flex;
		flex-wrap: wrap;
		align-items: flex-start;
		align-content: flex-start;
		max-width: 650px;
		width: 100%;
		gap: 0 2rem;
		padding: 1.5rem;
		margin: 0 0 2rem;
		z-index: 0;
    border: 0.25rem solid $light;
    background: $white;
		&::after {
			position: absolute;
			z-index: -2;
			background: $light;
			top: 0;
			bottom: 0;
			left: 50%;
			transform: translateX(-50%);
			width: 100vw;
			content: '';
		}
		&__title {
			@include fluid(font-size, 24px, 48px);
			flex: 0 0 100%;
			color: $blue;
			text-transform: uppercase;
			font-weight: 900;
			font-family: 'Fira Code';
		}
		a {
			display: flex;
			padding: 0.25rem 0.5rem;
			margin: 0;
			flex: 0 0 100%;
			color: $blue;
			@include mq(sm) {
				flex: 0 0 calc(50% - 1rem);
			}
			&::before {
				display: none;
			}
			&::after {
				align-self: center;
				flex: 1 1 0;
				margin-left: 1rem;
				height: 1px;
				background: $light;
				content: '';
			}
			&:hover {
				color: $purple;
			}
		}
	}

	&__title {
		@include fluid(font-size, 18px, 32px);
		position: relative;
		display: flex;
		text-align: center;
		align-items: center;
		padding: 1rem;
		color: $white;
		margin: 4rem 0 2rem;
		font-family: 'Fira Code', monospace;
		z-index: 0;
		code {
			@include fluid(font-size, 16px, 26px);
			margin: 0 1.5rem;
		}
		&::before {
			content: '';
			background: $dark;
			position: absolute;
			top: 0;
			bottom: 0;
			left: 50%;
			transform: translateX(-50%);
			width: 100vw;
			content: '';
			z-index: -1;
		}
	}

	&__section {
		background: $light;
		margin-bottom: 2rem;
    &.section--split {
      & > .section__inner {
        flex-wrap: wrap;
        & > .section__main {
					flex: 1 1 calc(100% - 22rem - #{$gutterLg/2});
          background: darken($light, 3%);
        }
        & > .section__rail {
          background: darken($light, 8%);
        }
        & > .code-toolbar {
          flex: 0 0 100%;
        }
      }
    }
	}

	&__content {
		*:not(:last-child) {
			margin-bottom: 1rem;
		}
	}

	&__grid,
	&__cms-messages {
		.g__c {
			* {
				white-space: normal !important;
			}
		}
	}

	&__grid-builder {
		display: flex;
		flex-direction: column;
		&__settings {
			display: flex;
			flex-direction: column;
			fieldset {
				display: flex;
				flex-direction: column;
				flex: 0 0 50%;
				margin: 0;
				border: 2px solid $black;
			}
			label {
				display: flex;
				align-items: center;
				margin: 0;
				& > * {
					margin: 0;
					margin-right: 0.5rem;
					margin-bottom: 1rem;
				}
				&:last-child {
					& > * {
						margin-bottom: 0;
					}
				}
			}
			input[type=number] {
				margin-right: 0;
			}
		}
		&__grid {
			display: flex;
			flex-direction: column;
			padding: 2rem;
			margin: 2rem 0;
			overflow: hidden;
			background: #222;
			.g {
				margin-bottom: 0;
				transition: 0.25s ease;
			}
			.g__c {
				transition: 0.25s ease;
				background: $dark;
				padding: 0.75rem;
				min-height: 100px;
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				* {
					margin: 0;
				}
				&::before {
					color: $white;
					font-weight: 700;
					content: 'Column Width:';
					margin-bottom: 0.5rem;
				}
			}
		}
	}

	&__icons {
		list-style: none;
		padding: 0;
		display: flex;
		flex-wrap: wrap;
		margin: 0 -0.5rem;

	}

	&__icon {
		padding: 1rem;
		flex: 1 1 auto;
		margin: 0.5rem;
		&:nth-child(2n-1) {
			background: lighten($light, 3%);
		}
		&:nth-child(2n) {
			background: darken($light, 3%);
		}

		> *:last-child {
			margin-bottom: 0;
		}

		i {
      font-size: 2.5rem;
      margin-bottom: 1rem;
		}
	}

	&__markup {
    display: flex;
    flex-direction: column;
		margin: 1rem 0 3rem;
		padding: 1rem 0;
		border: none;
		border-bottom: 2px solid $light;
		height: auto;
		position: relative;
		@include mq(md) {
			margin: 1rem -1.5rem 3rem;
			border: 2px solid $light;
			padding: 1.5rem;
    }
    
    &--composition {
      border: none;
      padding: 0;
      margin: 0;
    }
    &__toggle {
      align-self: flex-start;
			font-family: 'Fira Code';
      font-weight: 700;
      color: $dark;
      background: $light;
      appearance: none;
      border: none;
      padding: 0.25rem 0.5rem;
      margin: 2rem 0 1rem;
      cursor: pointer;
      transition: 0.25s ease;
      &:hover {
        background: $purple;
        color: $white;
      }
    }
		&__name {
			display: flex;
      position: relative;
      padding: 0 0 0.25rem;
      margin: 0 0 0.25rem;
			font-family: 'Fira Code';
			font-weight: 700;
			cursor: pointer;
			color: $blue;
			text-decoration: underline;
      border-bottom: 2px solid $light;
      background: $white;
      @include mq(md) {
        margin: calc(-1.5rem - 2px) calc(-1.5rem - 2px) 1.5rem;
        padding: 0 0.25rem 0.5rem;
      }
			&:hover::after {
				opacity: 1;
			}
			&::after {
				content: 'click to show markup';
        position: absolute;
        left: 0;
        bottom: 100%;
				padding: 0.5rem;
        margin-bottom: 0.25rem;
				background: $light;
				pointer-events: none;
				opacity: 0;
				transition: 0.25s ease;
			}
			&[data-active]::after {
				content: 'click to hide markup';
			}
		}
		&__code {
			height: 0;
			border-radius: 0.3em;
			max-height: 400px;
			overflow: hidden;
			&[data-active] {
				overflow-y: auto;
				margin-bottom: 1rem;
			}
		}
	}
}

.example-component {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	&--align-right {
		align-items: flex-end;
		text-align: right;
	}
}
