//-
  The content for this component lives under data/example.json.
  As this is a specific use case for this component, we are asking the mixin for both a specific version, and to use a specific set of data: 'welcome'.
  You can create as many named data sets as you like so you can display the component with any possible combination of content w/o having to write new markup.

include ../components/_exampleComponent

+composition('composition--fill-blue composition--padded', '//via.placeholder.com/1900x600/232323/545454')
  .g
    .g__c.g__c--md6
      +exampleComponent('default', exampleComponent.welcome)
    .g__c.g__c--md6
      +exampleComponent('right', exampleComponent.goodbye)
