extends ../layouts/_styleguide

block vars
  //- set the page title
  - var pageTitle = "Compositions";
  - var markup = true;

block head

block nav
  a(href="#ExampleComposition") Example Composition

block content
  h1#ExampleComposition.styleguide__title Example Composition
  include _exampleComposition