// -----------------------------------------------------------------------------
// Document level styles
// -----------------------------------------------------------------------------

html {
  font-size: $rootEM;
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

html,
body {
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	font-size: $fontSizeBase;
	line-height: $lineHeightBase;
	font-family: $fontFamilyBase;
	font-weight: $fontWeightBase;
	color: $fontColorBase;
  max-width: 100%;
  overflow-x: hidden;

	&.using-mouse {
		*:focus {
			outline: none;
		}
	}

	&:not(.using-mouse) {
		*:focus {
			outline: none;
			#{$focusProperty}: $focusValue;
		}
	}
}
