// -----------------------------------------------------------------------------
// Base form styles (WIP)
// -----------------------------------------------------------------------------

select,
textarea,
input {
  &:not([type=checkbox]):not([type=radio]) {
    @include clean(input);
    background: darken($white, 10%);
    padding: 0.5rem 1rem;
  }
}

input[type=search] {
	/* clears the 'X' from Internet Explorer */
	&::-ms-clear,
	&::-ms-reveal {
		display: none;
		width: 0;
		height: 0;
	}
	/* clears the 'X' from Chrome */
	&::-webkit-search-decoration,
	&::-webkit-search-cancel-button,
	&::-webkit-search-results-button,
	&::-webkit-search-results-decoration {
		display: none;
	}
}

input[type=number] {
	&::-webkit-inner-spin-button,
	&::-webkit-outer-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}
}
