@function strip-unit($value) {
  @return $value / ($value * 0 + 1);
}

@function luminance($color) {
	$red: nth($linear-channel-values, red($color) + 1);
	$green: nth($linear-channel-values, green($color) + 1);
	$blue: nth($linear-channel-values, blue($color) + 1);
 
	@return 0.2126 * $red + 0.7152 * $green + 0.0722 * $blue;
 }
 
 @function contrast($back, $front) {
	$backLum: luminance($back) + 0.05;
	$foreLum: luminance($front) + 0.05;
 
	@return max($backLum, $foreLum) / min($backLum, $foreLum);
 }

 @function choose-contrast-color($color) {
	$lightContrast: contrast($color, $fontColorLight);
	$darkContrast: contrast($color, $fontColorBase);
 
	@if ($lightContrast > $darkContrast) {
		@return $fontColorLight;
	}
	@else {
		@return $fontColorBase;
	}
 }
