
blue-composition.composition--fill-blue.composition--padded
  pre
    code.language-html 
      | #{comp(1, 'composition--fill-blue')}
      | #{comp(0)}
blue-composition.composition--fill-lightGray.composition--padded
  pre
    code.language-html 
      | #{comp(1, 'composition--fill-lightGray')}
      | #{comp(0)}
blue-composition.composition--fill-darkGray.composition--padded
  pre
    code.language-html 
      | #{comp(1, 'composition--fill-darkGray')}
      | #{comp(0)}
blue-composition.composition--fill-blue.composition--padded(style="background-image: url(https://papers.co/wallpaper/papers.co-mf21-summer-black-night-revisited-star-space-sky-25-wallpaper.jpg)")
  pre
    code.language-html 
      | #{comp(1, 'composition--fill-blue', 'background-image: url(...)')}
      | #{comp(0)}