.styleguide__cms-messages
	.g.g--centered
		.g__c.g__c--md4
			h6 Success - No Margin
			pre: code.language-html #{div(1, 'cms-message  cms-message--success')}{{message}}#{div(0)}
			.cms-message.cms-message--success
				.cms-message__icon-area
				.cms-message__content
					p Your widget is ready to go.
		.g__c.g__c--md4
			h6 Warning - No Margin
			pre: code.language-html #{div(1, 'cms-message  cms-message--warning')}{{message}}#{div(0)}
			.cms-message.cms-message--warning
				.cms-message__icon-area
				.cms-message__content
					p Your widget needs attention.
		.g__c.g__c--md4
			h6 Error - No Margin
			pre: code.language-html #{div(1, 'cms-message  cms-message--error')}{{message}}#{div(0)}
			.cms-message.cms-message--error
				.cms-message__icon-area
				.cms-message__content
					p Your widget is not configured.
	
	.g.g--centered
		.g__c.g__c--md4
			h6 Success - Margin 1rem Top/Bottom
			pre: code.language-html #{div(1, 'cms-message cms-message--success cms-message--my1')}{{message}}#{div(0)}
			.cms-message.cms-message--my1.cms-message--success
				.cms-message__icon-area
				.cms-message__content
					p Your widget is ready to go.
		.g__c.g__c--md4
			h6 Warning - Margin 1rem Top/Bottom
			pre: code.language-html #{div(1, 'cms-message cms-message--warning cms-message--my1')}{{message}}#{div(0)}
			.cms-message.cms-message--my1.cms-message--warning
				.cms-message__icon-area
				.cms-message__content
					p Your widget needs attention.
		.g__c.g__c--md4
			h6 Error - Margin 1rem Top/Bottom
			pre: code.language-html #{div(1, 'cms-message cms-message--error cms-message--my1')}{{message}}#{div(0)}
			.cms-message.cms-message--my1.cms-message--error
				.cms-message__icon-area
				.cms-message__content
					p Your widget is not configured.

	.g.g--centered
		.g__c.g__c--md4
			h6 Success - Margin 2rem Top/Bottom
			pre: code.language-html #{div(1, 'cms-message cms-message--success cms-message--my2')}{{message}}#{div(0)}
			.cms-message.cms-message--my2.cms-message--success
				.cms-message__icon-area
				.cms-message__content
					p Your widget is ready to go.
		.g__c.g__c--md4
			h6 Warning - Margin 2rem Top/Bottom
			pre: code.language-html #{div(1, 'cms-message cms-message--warning cms-message--my2')}{{message}}#{div(0)}
			.cms-message.cms-message--my2.cms-message--warning
				.cms-message__icon-area
				.cms-message__content
					p Your widget needs attention.
		.g__c.g__c--md4
			h6 Error - Margin 2rem Top/Bottom
			pre: code.language-html #{div(1, 'cms-message cms-message--error cms-message--my2')}{{message}}#{div(0)}
			.cms-message.cms-message--my2.cms-message--error
				.cms-message__icon-area
				.cms-message__content
					p Your widget is not configured.

	.g.g--centered
		.g__c.g__c--md4
			h6 Success - Margin 3rem Top/Bottom
			pre: code.language-html #{div(1, 'cms-message cms-message--success cms-message--my3')}{{message}}#{div(0)}
			.cms-message.cms-message--my3.cms-message--success
				.cms-message__icon-area
				.cms-message__content
					p Your widget is ready to go.
		.g__c.g__c--md4
			h6 Warning - Margin 3rem Top/Bottom
			pre: code.language-html #{div(1, 'cms-message cms-message--warning cms-message--my3')}{{message}}#{div(0)}
			.cms-message.cms-message--my3.cms-message--warning
				.cms-message__icon-area
				.cms-message__content
					p Your widget needs attention.
		.g__c.g__c--md4
			h6 Error - Margin 3rem Top/Bottom
			pre: code.language-html #{div(1, 'cms-message cms-message--error cms-message--my3')}{{message}}#{div(0)}
			.cms-message.cms-message--my3.cms-message--error
				.cms-message__icon-area
				.cms-message__content
					p Your widget is not configured.

	.g.g--centered
		.g__c.g__c--md4
			h6 Success - Margin 4rem Top/Bottom
			pre: code.language-html #{div(1, 'cms-message cms-message--success cms-message--my4')}{{message}}#{div(0)}
			.cms-message.cms-message--my4.cms-message--success
				.cms-message__icon-area
				.cms-message__content
					p Your widget is ready to go.
		.g__c.g__c--md4
			h6 Warning - Margin 4rem Top/Bottom
			pre: code.language-html #{div(1, 'cms-message cms-message--warning cms-message--my4')}{{message}}#{div(0)}
			.cms-message.cms-message--my4.cms-message--warning
				.cms-message__icon-area
				.cms-message__content
					p Your widget needs attention.
		.g__c.g__c--md4
			h6 Error - Margin 4rem Top/Bottom
			pre: code.language-html #{div(1, 'cms-message cms-message--error cms-message--my4')}{{message}}#{div(0)}
			.cms-message.cms-message--my4.cms-message--error
				.cms-message__icon-area
				.cms-message__content
					p Your widget is not configured.
