blue-composition.composition--padded-sm.composition--collapse
  .styleguide__grid
    h6 2 Column Grid (always)
    .g
      .g__c.g__c--6
        pre: code.language-html #{div(1, 'g__c g__c--6')}
      .g__c.g__c--6
        pre: code.language-html #{div(1, 'g__c g__c--6')}

  .styleguide__grid
    h6 3 Column Grid (Medium Screen Sizes &amp; Up)
    .g
      .g__c.g__c--md4
        pre: code.language-html #{div(1, 'g__c g__c--md4')}
      .g__c.g__c--md4
        pre: code.language-html #{div(1, 'g__c g__c--md4')}
      .g__c.g__c--md4
        pre: code.language-html #{div(1, 'g__c g__c--md4')}

  .styleguide__grid
    h6 4 Column Grid (Large Screen Sizes &amp; Up)
    .g
      .g__c.g__c--lg3
        pre: code.language-html #{div(1, 'g__c g__c--lg3')}
      .g__c.g__c--lg3
        pre: code.language-html #{div(1, 'g__c g__c--lg3')}
      .g__c.g__c--lg3
        pre: code.language-html #{div(1, 'g__c g__c--lg3')}
      .g__c.g__c--lg3
        pre: code.language-html #{div(1, 'g__c g__c--lg3')}

  .styleguide__grid
    h6 2/4 Column Grid (Screen < MD = 2 Columns; Screen > MD = 4 Columns)
    .g
      .g__c.g__c--6.g__c--md3
        pre: code.language-html #{div(1, 'g__c g__c--6 g__c--md3')}
      .g__c.g__c--6.g__c--md3
        pre: code.language-html #{div(1, 'g__c g__c--6 g__c--md3')}
      .g__c.g__c--6.g__c--md3
        pre: code.language-html #{div(1, 'g__c g__c--6 g__c--md3')}
      .g__c.g__c--6.g__c--md3
        pre: code.language-html #{div(1, 'g__c g__c--6 g__c--md3')}


blue-composition.composition--padded-sm.composition--collapse
  form.styleguide__grid-builder
    .styleguide__grid-builder__settings
      fieldset
        legend Grid Builder
        .g
          .g__c.g__c--md12
            label
              input.even(type='checkbox', name="even")
              strong Force Uniform Column Size?
        .g
          .g__c.g__c--md6
            label
              strong Uniform Column Size
              em (12 /
              input.width(type='number', step="1", min="1", max="12", value="3")
              em
                | = number of columns in a row)
          .g__c.g__c--md6
            label
              strong Screen Size
              select.media
                option(value='') All (screen >= 0)
                option(value='sm') SM (screen >== 576px)
                option(value='md') MD (screen >== 768px)
                option(value='lg') LG (screen >== 991px)
                option(value='xl') XL (screen >= 1200px)
        .g
          .g__c.g__c--md3
            label
              input.gutters.gutters--def(type='radio', name="gutters", value="true", checked)
              strong Default Gutters
          .g__c.g__c--md3
            label
              input.gutters.gutters--sm(type='radio', name="gutters", value="false")
              strong Small Gutters
          .g__c.g__c--md3
            label
              input.gutters.gutters--lg(type='radio', name="gutters", value="false")
              strong Large Gutters
        .g
          .g__c.g__c--xs12
            label
              input.centered(type='checkbox', name="centered")
              strong Centered?
        label
          button.add(type="button") Add Column
          button.remove(type="button") Remove Column
    .styleguide__grid-builder__grid
      .g

    .styleguide__grid-builder__code
      pre: code.language-html
