section.styleguide__section
  .section__inner
    .styleguide__content
      h4 basic full width section
      pre
        code.language-html 
          | #{section(1)}
          |   #{div(1, 'section__inner')}
          |     @Html.Kentico().WidgetZone()
          |   #{div(0)}
          | #{section(0)}

section.section--sm.styleguide__section
  .section__inner
    h4 basic small full width section
    pre
      code.language-html 
        | #{section(1, 'section--sm')}
        |   #{div(1, 'section__inner')}
        |     @Html.Kentico().WidgetZone()
        |   #{div(0)}
        | #{section(0)}

section.section--split.styleguide__section
  .section__inner
    .section__rail
      h4 left rail area
    .section__main
      h4 main content area
    pre
      code.language-html 
        | #{section(1, 'section--split')}
        |   #{div(1, 'section__inner')}
        |     #{div(1, 'section__rail')}
        |       @Html.Kentico().WidgetZone()
        |     #{div(0)}
        |     #{div(1, 'section__main')}
        |       @Html.Kentico().WidgetZone()
        |     #{div(0)}
        |   #{div(0)}
        | #{section(0)}

section.section--split.styleguide__section
  .section__inner
    .section__main
      h4 main content area
    .section__rail
      h4 right rail area
    pre
      code.language-html 
        | #{section(1, 'section--split')}
        |   #{div(1, 'section__inner')}
        |     #{div(1, 'section__main')}
        |       @Html.Kentico().WidgetZone()
        |     #{div(0)}
        |     #{div(1, 'section__rail')}
        |       @Html.Kentico().WidgetZone()
        |     #{div(0)}
        |   #{div(0)}
        | #{section(0)}