
blue-composition.composition--fill-lightGray
  h4 Basic un-classed composition
  pre
    code.language-html 
      | #{comp()} #{comp(0)}

blue-composition.composition--padded-sm
  h4 Composition with small padding
  pre
    code.language-html 
      | #{comp(1, 'composition--padded-sm')} #{comp(0)}

blue-composition.composition--padded.composition--fill-lightGray
  h4 Composition with standard padding
  pre
    code.language-html 
      | #{comp(1, 'composition--padded')} #{comp(0)}

blue-composition.composition--padded.composition--flush-top
  h4 Composition padding with flush top modifier
  p
    em Can be used on standard or small padding
  pre
    code.language-html 
      | #{comp(1, 'composition--padded composition--flush-top')} #{comp(0)}

blue-composition.composition--padded.composition--flush-bottom.composition--fill-lightGray
  h4 Composition padding with flush bottom modifier 
  p 
    em Can be used on standard or small padding
  pre
    code.language-html 
      | #{comp(1, 'composition--padded composition--flush-bottom')} #{comp(0)}

br
br
br

blue-composition.composition--padded.composition--collapse.composition--fill-lightGray
  h4 Composition padding with collapse modifier
  h6 Consecutive compositions with this modifier will halve the space between them collapse, rather than double.  
  p 
    em Can be used on standard or small padding
  pre
    code.language-html 
      | #{comp(1, 'composition--padded composition--collapse')} #{comp(0)}

blue-composition.composition--padded.composition--collapse.composition--fill-lightGray
  h4 Composition padding with collapse modifier
  h6 Consecutive compositions with this modifier will halve the space between them collapse, rather than double.  
  p 
    em Can be used on standard or small padding
  pre
    code.language-html 
      | #{comp(1, 'composition--padded composition--collapse')} #{comp(0)}