extends ../layouts/_styleguide

block vars
  //- set the page title
  - var pageTitle = "Icons";

block head

block content
  section
    .section__inner
      blue-composition.composition--padded
        input#font-weight(type="checkbox")
        label(for="font-weight") Bold Icons?
        ul.styleguide__icons