extends ../layouts/_styleguide

block vars
	//- set the page title
	- var pageTitle = "Styleguide";
	- var forceSection = false;
	- const section = (open=true, cls=false) => `<${open ? '' : '/'}section${cls ? ` class="${cls}"` : ''}>`
	- const div = (open=true, cls=false) => `<${open ? '' : '/'}div${cls ? ` class="${cls}"` : ''}>`
	- const comp = (open=true, cls=false, stl=flase) => `<${open ? '' : '/'}blue-composition${cls ? ` class="${cls}"` : ''}${stl ? ` style="${stl}"` : ''}>`


block nav
	a(href="#Sections") Sections
	a(href="#Compositions") Composition Spacing
	a(href="#Backgrounds") Composition Backgrounds
	a(href="#Grid") Grid
	a(href="#CMSMessages") CMS Messages

block content
	section
		.section__inner
			h2#Sections.styleguide__title Page Alignment (Horizontal Spacing) #[code.language-html #{section()}]
	include _sections

	section
		.section__inner
			h2#Spacing.styleguide__title Composition Padding (Vertical Spacing) #[code.language-html #{comp()}]
			include _spacing

	section
		.section__inner
			h2#Backgrounds.styleguide__title Composition Backgrounds #[code.language-html #{comp()}]
			include _backgrounds

	section
		.section__inner
			h2#Grid.styleguide__title 12 Column Grid
			include _grid
	
	section
		.section__inner
			h2#CMSMessages.styleguide__title CMS Content Messages
			include _cmsMessages