mixin escape
  - var oldBuf = pug_html;
  - pug_html = '';
  block
  - pug_html = oldBuf + pug.escape(pug_html);

mixin component(v, name, observe)
  if v
    if observe
      blue-component(observe)
        block
    else
      blue-component
        block
  else if !v
    .styleguide__markup
      .styleguide__markup__name=name
      .styleguide__markup__code
        pre
          code.language-html
            +escape()
              if observe
                blue-component(observe)
                  block
              else
                blue-component
                  block
      .styleguide__markup__block
        if observe
          blue-component(observe)
            block
        else
          blue-component
            block