mixin escape
  - var oldBuf = pug_html;
  - pug_html = '';
  block
  - pug_html = oldBuf + pug.escape(pug_html);

mixin composition(cls, img)
  if markup
    .styleguide__markup.styleguide__markup--composition
      button.styleguide__markup__toggle(type="button") View Markup
      .styleguide__markup__code
        pre
          code.language-html
            +escape()
              blue-composition(class=cls, style=img?"background-image:url("+img+")":false): block
      .styleguide__markup__block
        blue-composition(class=cls, style=img?"background-image:url("+img+")":false)
          block
  else
    blue-composition(class=cls, style=img?"background-image:url("+img+")":false)
      block
