//-
  The content for this component lives under data/exampleComponent.json.
  The default dataset is 'default', which should be a maximum set (every possible data point), that every version of the component can reference while on the components page.
  You can add more data sets to display different data for a specific composition. See ../compositions/_exampleComposition.pug for an example of how to use this component with a different data set.

mixin exampleComponent(v, data=exampleComponent.default)

  if v == 'default' || !v
    +component(v, 'default example component', true)
      .example-component
        if data.heading
          h2.example-component__heading=data.heading
        if data.subheading
          p.example-component__subheading=data.subheading
        if data.cta
          button.btn.btn--secondary=data.cta


  if v == 'right' || !v
    +component(v, 'right aligned example component')
      .example-component.example-component--align-right
        if data.heading
          h2.example-component__heading=data.heading
        if data.subheading
          p.example-component__subheading=data.subheading
        if data.cta
          button.btn.btn--secondary.btn--ghost=data.cta