extends ../layouts/_styleguide

block vars
  //- set the page title
  - var pageTitle = "Components";

block head

block nav
  a(href="#ExampleComponent") Example Component

block content
  h1#ExampleComponent.styleguide__title Example Component
  include _exampleComponent
  +exampleComponent