meta(charset="utf-8")
meta(http-equiv="X-UA-Compatible", content="IE=edge")
meta(name='viewport', content='width=device-width,initial-scale=1.0')
link(href='https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined', rel='stylesheet')

link(rel='stylesheet', href='/styles/main.css')
