<template lang="pug">
div 
  p {{ greeting }}
</template>

<script>
export default {
  data() {
    return {
      greeting: "Hello, blue world!",
    };
  },
};
</script>


<style scoped lang="scss">
$test: 2rem;

div {
  color: $color;
  height: 50px;
  display: grid;
  gap: math.div($test, 2);
}
</style>