extends layouts/_main

block vars
  //- set the page title
  - var pageTitle = "500 - Server Error";
  
block head
  //- put any <head> content specific to this page here

block content
  //- put any page content specific to this page here
  section.section--padded
    .section__inner
      h1 500 - Something went wrong
      p Error details and #[a(href='') Links]
