extends layouts/_main

block vars
  //- set the page title
  - var pageTitle = "404 Not Found";
  
block head
  //- put any <head> content specific to this page here

block content
  //- put any page content specific to this page here
  section.section--padded
    .section__inner
      h1 404 - Page Not Found
      p Error details and #[a(href='') Links]
