extends layouts/_main

block vars
  //- set the page title
  - var pageTitle = "Home";

block head
  //- put any <head> content specific to this page here

block content
  //- put any page content specific to this page here

  section
    .section__inner
      div.wrapper
        p.paragraph this is a paragraph
        img(src="//via.placeholder.com/400")