doctype html
html(lang="en")
  head
    include global/_head.pug
    title [client name]
  body
    main
      section
        .section__inner
          blue-composition.composition--padded
            table.table.table--striped.table--bordered
              tbody
                tr
                  td
                    a(href='/styleguide/icons') Icons
                tr
                  td
                    a(href='/styleguide') Style Guide
                tr
                  td
                    a(href='components') Components
                tr
                  td
                    a(href='compositions') Compositions

            table.table.table--striped.table--bordered
              thead
                tr
                  th #
                  th Page
                  th Info
              tbody
                tr
                  th(scope='row') 00a
                  td
                    a(href='error-404') Error Page - 404
                  td ...in progress
                tr
                  th(scope='row') 00b
                  td
                    a(href='error-500') Error Page - 500
                  td ...in progress
                tr
                  th(scope='row') 001
                  td
                    a(href='home') Home
                  td ...in progress
    include global/_foot