include ../global/mixins/_composition
include ../global/mixins/_component

doctype html
html(lang="en")
  block vars
  head(id='head')
    include ../global/_head
    title #{pageTitle}
    block head

  body
    .page
      include ../global/_header
      main.content
        block content

      include ../global/_footer
    include ../global/_foot
    block foot

