include ../global/mixins/_composition
include ../global/mixins/_component

doctype html
html(lang="en")
  - var forceSection = true
  block vars
  head(id='head')
    include ../global/_head
    link(rel='preconnect' href='https://fonts.gstatic.com')
    link(href='https://fonts.googleapis.com/css2?family=Fira+Code&display=swap' rel='stylesheet')
    link(href='/styles/styleguide.css', rel='stylesheet')

    title #{pageTitle}
    block head

  body
    .page
      main.content
        .styleguide
          section
            .section__inner
              nav.styleguide__nav
                h1.styleguide__nav__title #{pageTitle}
                block nav
          if forceSection
            section
              .section__inner
                block content
          else
            block content

    script(src='/js/styleguide.js', type='text/javascript')
    include ../global/_foot
    block foot

