/*******************************************
******* GLOBAL OVERRIDES *******************
**** You can reassign these global *********
**** defaults by un-commenting the *********
**** variables below & giving them *********
**** new values. The comments show *********
**** the default values.           *********
*******************************************/
// $rootEM: 16px;

// $success: #256625;
// $warning: #c5c526;
// $error: #550c0c;

// $minWidth: 20rem;
// $maxWidth: 82rem;
// $maxWidthSm: 64rem;
// $gutter: 2rem;
// $gutterLg: 4rem;
// $gutterSm: 1rem;
// $marginBase: 1.5rem;

// $breakpoints: (
//   xs: 0,
//   sm: 576px,
//   md: 768px,
//   lg: 992px,
//   xl: 1200px,
//   sm_dn: 575px,
//   md_dn: 767px,
//   lg_dn: 991px,
//   xl_dn: 1199px
// );
/******************************************/


/*******************************************
******* BRAND/GLOBAL COLORS ****************
*******************************************/
$white: #fff;
$black: #000;
$darkGray: #444;
$lightGray: #eee;
$blue: #0056ac;
$orange: #fab636;
/******************************************/
$fontColorBase: $darkGray;
$fontColorLight: $white;

$linkColor: $blue;
$linkColorHover: darken($linkColor, 25%);

$buttonPrimaryBackground: $blue;
$buttonPrimaryBackgroundHover: darken($buttonPrimaryBackground, 25%);
$buttonPrimaryColor: $white;
$buttonPrimaryColorHover: $white;

$buttonSecondaryBackground: $orange;
$buttonSecondaryBackgroundHover: $white;
$buttonSecondaryColor: $darkGray;
$buttonSecondaryColorHover: $darkGray;

$tableHighlight: $lightGray;

$focusProperty: outline;
$focusValue: 3px solid $orange;
/******************************************/


/*******************************************
******* COMPOSITION BACKGROUNDS ************
**** Any colors included in this   *********
**** map will have composition     *********
**** fill classes automatically    *********
**** generated.                    *********
**** EX. .composition--fill-blue   *********
*******************************************/
$fills: (
  darkGray: $darkGray,
  lightGray: $lightGray,
  blue: $blue
);
/******************************************/


/*******************************************
******* TYPOGRAPHY *************************
*******************************************/
$fontSizeBase: 1rem;
$lineHeightBase: 1.3;
$fontWeightBase: 400;
$fontFamilyBase: Arial,
'Helvetica Neue',
Helvetica,
sans-serif;

$h1Size: 2.25rem;
$h2Size: 2rem;
$h3Size: 1.75rem;
$h4Size: 1.5rem;
$h5Size: 1.25rem;
$h6Size: 1rem;
$lineHeightHeadings: 1.25;
$fontWeightHeadings: 400;
$fontFamilyHeadings: Arial,
'Helvetica Neue',
Helvetica,
sans-serif;
/******************************************/